<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

<!--    <settings>-->
        <!--全局性设置懒加载-->
<!--        <setting name="lazyLoadingEnabled" value="false"/>-->
        <!--当设置为'true'的时候,懒加载的对象可能被任何懒属性全部加载,否则,每个属性都按需加载-->
<!--        <setting name="aggressiveLazyLoading" value="true"/>-->
<!--        开启二级缓存-->
<!--        <setting name="cacheEnabled" value="true"/>-->
<!--    </settings>-->

    <!-- 引用db.properties配置文件 -->
    <properties resource="jdbc.properties"/>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <!-- 配置数据库连接信息 -->
            <dataSource type="POOLED">
                <!-- value属性值引用db.properties配置文件中配置的值 -->
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${name}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <!-- 注册userMapper.xml文件， userMapper.xml位于com.nt.mybatis.mapping这个包下，所以resource写成com/nt/mybatis/mapping/userMapper.xml -->
        <mapper resource="train/mapper/StudentMapper.xml"/>
        <mapper resource="train/mapper/UserMapper.xml"/>
    </mappers>
</configuration>