<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 为这个mapper指定一个唯一的namespace，namespace的值习惯上设置成包名+sql映射文件名，这样就能够保证namespace的值是唯一的
    例如namespace="com.nt.mybatis.mapping.userMapper"就是com.nt.mybatis.mapping(包名)+userMapper(userMapper.xml文件去除后缀) -->
<mapper namespace="com.fcant.train.mapper.UserMapper">
    <select id="findUser" parameterType="java.lang.String" resultType="com.fcant.train.bean.User">
        SELECT * from t_user u where u.uname=#{username}
    </select>

    <insert id="addUser" parameterType="com.fcant.train.bean.User">
        insert into t_user(uname, password) values (#{uname}, #{password})
    </insert>
</mapper>